#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-BlackTop {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-bottom_black_bar {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Button_back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}