#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-BG {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-BlackTop {
  position: absolute;
  top: 37px;
  left: 17px;
  width: 986px;
  height: 84px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-BlackTop .valign {
  vertical-align: middle;
  text-align: center;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-BlackTop span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-BlackTop span#rtr-s-BlackTop_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-bottom_black_bar {
  position: absolute;
  top: 136px;
  left: 17px;
  width: 986px;
  height: 602px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 76px 76px 76px 76px;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-bottom_black_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-bottom_black_bar span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-bottom_black_bar span#rtr-s-bottom_black_bar_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_1 {
  position: absolute;
  top: 56px;
  left: 249px;
  width: 561px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 34.0pt;
  font-family: 'Arial',Arial;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Button_back {
  position: absolute;
  top: 64px;
  left: 41px;
  width: 79px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Button_back .valign {
  vertical-align: middle;
  text-align: center;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Button_back span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Button_back span#rtr-s-Button_back_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Image_4 {
  position: absolute;
  top: 339px;
  left: 355px;
  width: 288px;
  height: 147px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_2 {
  position: absolute;
  top: 511px;
  left: 374px;
  width: 255px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Image_1 {
  position: absolute;
  top: 339px;
  left: 75px;
  width: 202px;
  height: 147px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_3 {
  position: absolute;
  top: 511px;
  left: 51px;
  width: 255px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Image_5 {
  position: absolute;
  top: 330px;
  left: 739px;
  width: 159px;
  height: 156px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_4 {
  position: absolute;
  top: 511px;
  left: 690px;
  width: 255px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-11c80aa9-affe-48f4-b0e1-c78f122e5f32 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}