#s-28dbd157-c875-4b6e-b143-7271b678624c #s-BG {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-bottom_black_bar {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 89px 89px 89px 89px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Button_back {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 79px;
  height: 26px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 0px 0px 3px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 165px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#E8E8E8,#FFFFFF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 0px 0px 3px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 165px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#E8E8E8,#FFFFFF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 0px 0px 3px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 165px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#E8E8E8,#FFFFFF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 149px;
  height: 32px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-28dbd157-c875-4b6e-b143-7271b678624c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}