#s-3977411a-7708-495f-a27d-e7023ef440cd #s-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-bottom_black_bar {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Button_back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3977411a-7708-495f-a27d-e7023ef440cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}