#s-6a570814-64b9-4b60-8124-16b9c3e93940 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-BG {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-bottom_black_bar {
  position: absolute;
  top: 30px;
  left: 17px;
  width: 986px;
  height: 708px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 89px 89px 89px 89px;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-bottom_black_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-bottom_black_bar span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-bottom_black_bar span#rtr-s-bottom_black_bar_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Button_back {
  position: absolute;
  top: 57px;
  left: 70px;
  width: 79px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Button_back .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Button_back span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Button_back span#rtr-s-Button_back_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_1 {
  position: absolute;
  top: 177px;
  left: 141px;
  width: 55px;
  height: 55px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Category_1 {
  position: absolute;
  top: 221px;
  left: 141px;
  padding-left: 10px;
  width: 202px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Category_1 .valign {
  width: 184px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Category_2 {
  position: absolute;
  top: 387px;
  left: 140px;
  padding-left: 10px;
  width: 202px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Category_2 .valign {
  width: 184px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_2 {
  position: absolute;
  top: 344px;
  left: 141px;
  width: 149px;
  height: 55px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_3 {
  position: absolute;
  top: 535px;
  left: 141px;
  width: 55px;
  height: 55px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Image_1 {
  position: absolute;
  top: 80px;
  left: 756px;
  width: 93px;
  height: 93px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Image_2 {
  position: absolute;
  top: 100px;
  left: 584px;
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_4 {
  position: absolute;
  top: 49px;
  left: 781px;
  width: 44px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_5 {
  position: absolute;
  top: 49px;
  left: 592px;
  width: 75px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Group_1 {
  position: absolute;
  top: 220px;
  left: 575px;
  width: 193px;
  height: 16px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Radio_button_1 {
  position: absolute;
  top: 3px;
  left: 0px;
  box-shadow: none;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Radio_button_2 {
  position: absolute;
  top: 0px;
  left: 180px;
  box-shadow: none;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Group_3 {
  position: absolute;
  top: 553px;
  left: 575px;
  width: 193px;
  height: 14px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Radio_button_3 {
  position: absolute;
  top: 1px;
  left: 0px;
  box-shadow: none;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Radio_button_4 {
  position: absolute;
  top: 0px;
  left: 180px;
  box-shadow: none;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Group_2 {
  position: absolute;
  top: 392px;
  left: 575px;
  width: 192px;
  height: 16px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Radio_button_5 {
  position: absolute;
  top: 3px;
  left: 0px;
  box-shadow: none;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Radio_button_6 {
  position: absolute;
  top: 0px;
  left: 179px;
  box-shadow: none;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_6 {
  position: absolute;
  top: 211px;
  left: 790px;
  width: 59px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_6 span#rtr-s-Text_6_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_7 {
  position: absolute;
  top: 212px;
  left: 612px;
  width: 63px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_7 span#rtr-s-Text_7_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_8 {
  position: absolute;
  top: 385px;
  left: 790px;
  width: 59px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_8 span#rtr-s-Text_8_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_9 {
  position: absolute;
  top: 546px;
  left: 790px;
  width: 59px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_9 span#rtr-s-Text_9_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_10 {
  position: absolute;
  top: 385px;
  left: 612px;
  width: 63px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_10 span#rtr-s-Text_10_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_11 {
  position: absolute;
  top: 546px;
  left: 612px;
  width: 63px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Text_11 span#rtr-s-Text_11_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Button_1 {
  position: absolute;
  top: 686px;
  left: 412px;
  width: 149px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6a570814-64b9-4b60-8124-16b9c3e93940 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}