#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-BlackTop {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Login {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-big_black_bar {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-BlackTop_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-heading {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Text_name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Text_email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Text_phone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Button_back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Text_phone_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}