#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-BG {
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-BlackTop {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Login {
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-big_black_bar {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 32px 32px 32px 32px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-BlackTop_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-heading {
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Text_name {
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Text_email {
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Text_phone {
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Button_back {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 79px;
  height: 26px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 267px;
  height: 40px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Text_phone_1 {
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-81657c21-d5c4-49a4-9479-f43cf3630bdc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}