#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-BG {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-BlackTop {
  position: absolute;
  top: 37px;
  left: 17px;
  width: 986px;
  height: 84px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-BlackTop .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-BlackTop span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-BlackTop span#rtr-s-BlackTop_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-bottom_black_bar {
  position: absolute;
  top: 187px;
  left: 17px;
  width: 986px;
  height: 551px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 69px 69px 69px 69px;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-bottom_black_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-bottom_black_bar span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-bottom_black_bar span#rtr-s-bottom_black_bar_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_1 {
  position: absolute;
  top: 56px;
  left: 275px;
  width: 484px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 34.0pt;
  font-family: 'Arial',Arial;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_1 {
  position: absolute;
  top: 142px;
  left: 340px;
  width: 128px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_2 {
  position: absolute;
  top: 142px;
  left: 531px;
  width: 128px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_2 {
  position: absolute;
  top: 218px;
  left: 58px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'Arial',Arial;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_back {
  position: absolute;
  top: 64px;
  left: 41px;
  width: 79px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_back .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_back span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Button_back span#rtr-s-Button_back_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_3 {
  position: absolute;
  top: 268px;
  left: 87px;
  width: 885px;
  height: 207px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-85c67b74-4588-4fb3-9d04-b86ec8c7b551 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}