#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-bottom_black_bar {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Button_back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c79acb03-8893-447b-8c1d-c6f5e3f2a79b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}