#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-bottom_black_bar {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Button_back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6b630c2-65cb-45cb-b307-a54911acd452 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}